<a href="{{ prepend: site.baseurl | append: page_lang | replace: '//', '/' }}"><h2 class="header-link">{{ translations.posts[page.lang] }}</h2></a>
<a href="{{ page_lang }}/search"><h2 class="header-link">{{ translations.search[page.lang] }}</h2></a>
<a href="{{ page_lang }}/archive"><h2 class="header-link">{{ translations.archive[page.lang] }}</h2></a>
<a href="{% if page.lang == 'es' %}{{ '/en' }}{% else %}{{ '/es' }}{% endif %}"><h2 class="header-link">{{ translations.language[page.lang] }}</h2></a>
