---
layout: default
---

<article>
  <h2>{{ page.title }}</h2>
  <time datetime="{{ page.date | date_to_xmlschema }}" class="by-line">
    {% if page.lang == 'es' %}
      {{ page.date | date: "%d/%m/%Y" }}
    {% else %}
      {{ page.date | date: "%m/%d/%Y" }}
    {% endif %}
  </time>
  {{ content }}
</article>

<div id="carousel" class="carousel">
  <img id="carouselImage" class="carousel-image">
  <div id="carouselAlt" class="carousel-alt"></div>
  <button class="carousel-control prev" onclick="prevImage()">&#10094;</button>
  <button class="carousel-control next" onclick="nextImage()">&#10095;</button>
</div>

<div class="image-overlay" onclick="closeImage()"></div>
<img id="expandedImage" class="expanded-image">

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var tocList = document.getElementById('toc-list');
    var headers = document.querySelectorAll('article h3');

    if (headers.length > 0) {
      document.querySelector('.toc').style.display = 'block';

      headers.forEach(function(header, index) {
        var id = 'section-' + index;
        header.id = id;

        var listItem = document.createElement('li');
        var link = document.createElement('a');
        link.href = '#' + id;
        link.textContent = header.textContent;
        listItem.appendChild(link);
        tocList.appendChild(listItem);
      });
    } else {
      document.querySelector('.toc').style.display = 'none';
    }
  });

  var currentImageIndex = 0;
  var images = [];
  var altTexts = [];

  document.querySelectorAll('.blog-image').forEach((img, index) => {
    images.push(img.src);
    altTexts.push(img.alt || '');
    img.setAttribute('data-index', index);
    img.onclick = () => expandImage(img);
  });

  function expandImage(img) {
    currentImageIndex = parseInt(img.getAttribute('data-index'));
    showImage(currentImageIndex);
    document.getElementById('carousel').style.display = 'block';
    document.querySelector('.image-overlay').style.display = 'block';
    document.body.style.overflow = 'hidden';

    document.addEventListener('keydown', handleKeyPress);

    document.querySelectorAll('.carousel-control').forEach(control => {
      control.style.display = 'block';
    });
  }

  function showImage(index) {
    var carouselImg = document.getElementById('carouselImage');
    carouselImg.src = images[index];
    
    var carouselAlt = document.getElementById('carouselAlt');
    carouselAlt.textContent = altTexts[index];
  }

  function closeImage() {
    document.getElementById('carousel').style.display = 'none';
    document.querySelector('.image-overlay').style.display = 'none';
    document.body.style.overflow = 'auto';

    document.removeEventListener('keydown', handleKeyPress);

    document.querySelectorAll('.carousel-control').forEach(control => {
      control.style.display = 'none';
    });
  }

  function prevImage() {
    currentImageIndex = (currentImageIndex - 1 + images.length) % images.length;
    showImage(currentImageIndex);
  }

  function nextImage() {
    currentImageIndex = (currentImageIndex + 1) % images.length;
    showImage(currentImageIndex);
  }

  function handleKeyPress(event) {
    if (event.key === 'Escape') {
      closeImage();
    } else if (event.key === 'ArrowLeft') {
      prevImage();
    } else if (event.key === 'ArrowRight') {
      nextImage();
    }
  }
</script>
