---
layout: default
---

<article>
  <h2>{{ page.title }}</h2>
  <time datetime="{{ page.date | date_to_xmlschema }}" class="by-line">
    {% if page.lang == 'es' %}
      {{ page.date | date: "%d/%m/%Y" }}
    {% else %}
      {{ page.date | date: "%m/%d/%Y" }}
    {% endif %}
  </time>
  {{ content }}
</article>

<div class="image-overlay" onclick="closeImage()"></div>
<img id="expandedImage" class="expanded-image">

<script>
function expandImage(img) {
  var expandedImg = document.getElementById("expandedImage");
  var overlay = document.querySelector(".image-overlay");

  expandedImg.src = img.src;

  overlay.style.display = "block";
  expandedImg.style.display = "block";

  document.addEventListener("keydown", handleEscKey);
}

function closeImage() {
  var expandedImg = document.getElementById("expandedImage");
  var overlay = document.querySelector(".image-overlay");

  overlay.style.display = "none";
  expandedImg.style.display = "none";

  document.removeEventListener("keydown", handleEscKey);
}

function handleEscKey(event) {
  if (event.key === "Escape" || event.key === "Esc") {
    closeImage();
  }
}
</script>
